.f-transactions_table {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-spacing: 0;

  &--item,
  &--head {
    padding: 10px 5px;
  }

  &--head {
    text-align: left;
  }
  @media (min-width: 769px) {
    overflow-x: none;
  }
}
